{% extends "base.html" %}

{% block content %}
  <h1> MODEL: {{ car.model }}</h1>
  <p>Manufacturer: {{ car.manufacturer.name }}</p>
  <p>Year: {{ car.year }}</p>

  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">Update</a>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">Delete</a>

  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>

<h2>Drivers</h2>
<ul class="drivers-list">
  {% for driver in car.drivers.all %}
    <li class="driver-item">
      <div><strong>Username:</strong> {{ driver.username }}</div>
      <div><strong>First Name:</strong> {{ driver.first_name }}</div>
      <div><strong>Last Name:</strong> {{ driver.last_name }}</div>
      <div><strong>License:</strong> {{ driver.license_number }}</div>
    </li>
  {% endfor %}
</ul>


  {% if user in car.drivers.all %}
    <form method="post" action="{% url 'taxi:remove-me-from-car' pk=car.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete me from this car</button>
    </form>
  {% else %}
    <form method="post" action="{% url 'taxi:assign-me-to-car' pk=car.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Assign me to this car</button>
    </form>
  {% endif %}

{% endblock %}

